*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 


}
:root{
  background-image: linear-gradient(135deg,#43CBFF,#9708CC);
  overflow: hidden;
  background-repeat: no-repeat;
  height: 100vh;
}
.login-container
{
  position: relative;
  top: 55px;
  left: 146px;
  height: 600px;
  width: 1200px;
  background-color: #fff;
  border-radius: 20px;
  border-color: #000;
}