*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: auto;
}
:root{
  background-image: linear-gradient(135deg,#43CBFF,#9708CC);
  overflow: hidden;
  background-repeat: no-repeat;
 object-fit: cover;
  height: 100vh;
  width: 140%;
}
.container
{
  position: relative;
  top: 55px;
  left: 146px;
  height: 600px;
  width: 1200px;
  background-color: #fff;
  border-radius: 20px;
  border-color: #000;

}
.main-img
{
  background-image: url(./Image/side.png);
  position: relative;
  top: 20px;
  left: 50px;
  width: 230px;
  height: 100px;
  background-size: cover;
  object-fit: cover;
}
.main1-img
{  background-image: url(./Image/main.png);
  position: absolute;
  top: 130px;
  left: 100px;
  width: 450px;
  height: 450px;
  background-size: cover;
  object-fit: cover;
}
.login-container 
{
  position: relative;
  top: -50px;
  left: 640px;
  width: 470px;
  height: 500px;
  border: solid 1px #000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
   border-radius: 40px;
  cursor: pointer;
}
.signup-container
{
  position: relative;
  top: -50px;
  left: 640px;
  width: 470px;
  height: 500px;
  border: solid 1px #000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
  align-items: center;
   border-radius: 40px;
  cursor: pointer;
}
.main-heading {
  font-size: 64px;
  font-weight: 500;
  line-height: 74px;
  margin-top: -150px;
  font-family: Times New Roman;
  color: #080C66;
user-select: none;
}
.heading 
{
  font-family: Alike Angular;
font-size: 36px;
font-weight: 400;
line-height: 45px;
user-select: none;
}
.main-heading1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 74px;
  margin-top: -5px;
  font-family: Times New Roman;
  color: #080C66;
user-select: none;
}
.heading1
{
  font-family: Alike Angular;
font-size: 35px;
font-weight: 400;
line-height: 40px;
user-select: none;
}

form .input-field {
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: 25px;
}

form .input-field input {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: solid 2px #000;
  font-size: 16px;
  outline: none;
}
form .input-field button 
{
  width: 100%;
  height: 100%;
  border-radius: 12px;
  font-size: 22px;
  font-weight: 400;
  background: #3874EA ;
  color:#fff;
  font-style: none;
  font-family: Alike Angular;
  margin: 35px 0px 20px 0px;
}
form .input-field button:active
{
  background-color: #080C66;
}
form .input-field p{
 text-align: center;
 font-size: 115%;
}
/* ---------------------------------------- */


form .input-field1 {
  position: relative;
  width: 100%;
  height: 45px;
  margin-top: 25px;
  text-decoration: none;
}

form .input-field1 input {
  position: relative;
  width: 100%;
  height: 90%;
  border-radius: 12px;
  border: solid 2px #000;
  font-size: 16px;
  outline: none;
  text-decoration: none;
}
form .input-field1 button 
{
  width: 100%;
  height: 95%;
  border-radius: 12px;
  font-size: 22px;
  font-weight: 400;
  background: #3874EA ;
  color:#fff;
  font-style: none;
  font-family: Alike Angular;
  margin: -10px 0px 5px 0px;
}
form .input-field1 button:active
{
  background-color: #080C66;
}
form .input-field1 p{
 text-align: center;
 font-size: 100%;
}
form .input-field1 .link
{
  text-decoration: none;
}


/* ------------------------------------------------------------- */


form  .error-message 
{
   color: red;
}
form .input-field .link
{
  text-decoration: none;
}
form .input-field .linked 
{
  text-align: end;
  margin-top: 15px;
}