*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
:root{
  background-image: linear-gradient(135deg,#43CBFF,#9708CC);
  overflow: hidden;
  background-repeat: no-repeat;
  height: 100vh;
  
}
.container
{
  position: relative;
  top: 55px;
  left: 146px;
  height: 600px;
  width: 1200px;
  background-color: #fff;
  border-radius: 20px;
  border-color: #000;

}
.main-img
{
  background-image: url(./Image/side.png);
  position: relative;
  top: 20px;
  left: 50px;
  width: 230px;
  height: 100px;
  background-size: cover;
  object-fit: cover;
}
.main1-img
{  background-image: url(./Image/main.png);
  position: absolute;
  top: 130px;
  left: 100px;
  width: 450px;
  height: 450px;
  background-size: cover;
  object-fit: cover;
}
.login-container 
{
  position: relative;
  top: -50px;
  left: 640px;
  width: 470px;
  height: 500px;
  border: solid 1px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  cursor: pointer;
}